	::selection{ background-color: #333; color: white; }
	::moz-selection{ background-color: #333; color: white; }
	::webkit-selection{ background-color: #333; color: white; }

	body {
		background-color: #eee;
		margin: 0px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #333;
	}
	
	a {
		text-decoration: none;
		color: #333;
	}
	
	a:hover {
		text-decoration: underline;
		color: #333;
	}
	
	header {
		width: 100%;
		height: 50px;
		background: #f5f5f5;
		border-bottom: 1px solid #dcdcdc;
	}
	
	.header_logo {
		float: left;
		font-size: 25px;
		font-weight: bold;
		padding: 15px;
	}
	
	.header_logo a {
		color: #333;
		text-decoration: none;
	}
	
	.header_login {
		position: relative;
		float: right;
		padding: 15px;
	}
	
	.header_login img {
		position: absolute;
		margin-top: -8px;
		margin-left: -45px;
		-webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	}
	
	.header_login .login, .header_login .logout {
		padding: 5px 20px;
		background: #3f86ca;
		color: #fff;
	    text-decoration: none;
	    cursor: pointer;
	}
	.header_login .login:hover {
		background: #2f73b4;
	}
	.header_login .login:active {
		background: #23609b;
	}
	
	.header_login .logout {
		background: #da4839;
	}
	.header_login .logout:hover {
		background: #ca3526;
	}
	.header_login .logout:active {
		background: #ab2517;
	}
	
	footer {
		text-align: center;
		margin: 20px; 
		color: #aaa;
	}
	
	#container {
		position: relative;
		text-align: center;
		margin: 0 auto;
	}
	
	#search_div {
		height: 400px; 
		width: 100%;
		background: url("http://www.wadecantley.com//styles/Wade/images/grey-website-background.jpg") no-repeat fixed #fff;
		margin-bottom: 50px;
	}
	
	#question_create_button {
		color: #0bb492;
	    font-size: 30px;
	    font-weight: bold;
	}
	
	#question_create_div {

	}
	
	#search {
		display: inline-block;
		text-align: left;
		padding: 6px;
		margin-left: 0px;
		
	}

	#search input[type="text"] {
		background: url("http://www.cjies.com/etop/images/search-white.png") no-repeat 10px 10px #fff;
		border: 1px solid #d1d1d1;
		color: #333;
		font-size: 16px;
		width: 400px;
		padding: 6px 15px 8px 35px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-transition: all 0.20s ease-in-out;
		-moz-transition: all 0.20s ease-in-out;
		-ms-transition: all 0.20s ease-in-out;
		-o-transition: all 0.20s ease-in-out;
	}

	#search input[type="text"]:focus {
		color: #333;
		outline: none;
		border-color: #aaa;
	}

	.container_title {
		color: #0bb492;
	    font-size: 30px;
	    font-weight: bold;
	}
	
	.container_title2 {
		color: #3f86ca;
	    font-size: 30px;
	    font-weight: bold;
	}

	
	#hot_question_field, #latest_question_field {
		position: relative;
		float: left;
	}
